VITE_NODE_ENV="development"
VITE_API_URL="http://localhost:8080"
VITE_FRONTEND_URL="your_frontend_url"
VITE_PAYMENT_PUBLIC_KEY="your_payment_public_key"
VITE_CONTACT_EMAIL="your_contact_email"
VITE_SENTRY_DSN="your_sentry_dsn"
